.link-style {
  text-decoration: none;
}

.restaurant-item {
  display: flex;
  justify-content: space-between;
  max-width: 360px;
  margin-bottom: 48px;
  min-width: 350px;
  flex-grow: 0;
  flex-shrink: 1;
  margin: 20px;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .restaurant-item {
    min-width: 350px;
    max-width: 360px;
    margin: 30px;
  }
}

.restaurant-image {
  width: 100%;
  max-height: 160px;
  border-radius: 6px;
  margin-right: 5px;
  margin-left: 5px;
}

.restaurant-container {
  display: flex;
  margin-right: 20px;
}

.restaurant-details {
  display: flex;
  flex-direction: column;
}

.name {
  color: #334155;
  font-family: 'DM Sans';
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.cuisine {
  font-family: 'DM Sans';
  font-size: 14px;
  line-height: 24px;
  color: #64748b;
}

.star-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.star {
  color: #ffcc00;
  width: 10px;
}

.rating {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #1e293b;
}

.user-rating {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #64748b;
}
